<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>

  </h1>
</section>


<section class="content">

  <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-home"></i>
          </div>

          <!-- /.box-header -->
          <div class="box-body">

            <h1 class="titulo">Couve Flor Gratinada</h1>
            <img class="box-img-detail" src="assets/img/pratos/couveFlor.png" />
           </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col-xs-12 -->

  </div>


  <div class="row">
  <app-menu></app-menu>
</div>

</section>
<!-- FIM DO CONTEÚDO -->
