.box-img-detail{
  width: 50%;
  border-radius: 5px;
  border:#000000 2px solid;
  margin-bottom: 8px;
  margin-left: 10px;
}

.col-sm-9{
  font-size: 16px;
  padding-left: 110px;
}

.alinharcentro {
  text-align: center;
}

.titulo{
  color: #8B0000;
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.IngMod{
background-color: #ffffff;
}
