.box-img-detail{
    width: 660px;
    height: 360px;
    margin-left: 160px;
}

.col-sm-9{
    font-size: 16px;
    padding-left: 110px;
}

.tit{
  color: #FF6347;
  font-size: 18px;
  margin-top: 5px;
}

.titulo{
    color: #A52A2A;
    font-size: 28px;
    margin-top: 5px;
    text-align: center;
}

#mod{
  margin-top: 10px;
}
