.container{
  background-color: #8B0000;
  height: 66px;
  padding-top: 6px;
}

#nome{
  font-size: 22px;
  color: #ffffff	;
}

.canto{
  background-color: #8B0000;
}

.abas{
  font-size: 16px;
  color: 	#ffffff;
}

.main-header{
  position: fixed;
  width: 100%;
}
