<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img src="assets/img/pratos/strogosicha.jpg"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">Strogonoff Com Salsicha</span><br>
    <span class="menu-item-info-box-detail">Um delicioso strogonoff com salsicha.</span><br>
    <span class="menu-item-info-box-price">R$ 12,00</span><br>
    <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
<!-- /.info-box -->

<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img src="assets/img/sobremesas/floresta.jpg"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">Bolo Floresta Branca</span><br>
    <span class="menu-item-info-box-detail">Coberto com chantilly e com pedaçoes deliciosos de chocolate branco e cereja.</span><br>
    <span class="menu-item-info-box-price">R$ 10,00</span><br>
    <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
<!-- /.info-box -->

<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img src="assets/img/pratos/dadinho.jpg"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">Dadinho de Tapioca</span><br>
    <span class="menu-item-info-box-detail">Uma mistura deliciosa de queijo, tapioca e leite.</span><br>
    <span class="menu-item-info-box-price">R$ 10,00</span><br>
    <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
